<div class="container">
  <div class="flex-grid">
    <aside *ngIf="loaded" class="sidebar">
      <div *ngFor="let group of groupedContacts">
        <div class="sidebar-abc-container">
          <span class="sidebar-abc-container-item">{{ group.firstLetter }}</span>
        </div>
        <div
          *ngFor="let contact of group.contacts"
          [ngClass]="{
            'sidebar-name-item' : true,
            'selected' : contact.id === selected.id
          }"
          (click)="select(contact)">
          <div class="sidebar-name-item-text">{{ contact.firstName }} {{ contact.lastName }}</div>
          <div
            class="sidebar-name-item-delete-button"
            *ngIf="contact.id === selected.id"
            (click)="delete()">
          </div>
        </div>
      </div>
    </aside>

    <section class="col main">
      <form novalidate *ngIf="loaded" [formGroup]="form" (submit)="save()">

        <div *ngIf="!editMode" class="full-name">
          <div class="full-name-box">
            <div class="full-name-box-text name">
              <span>{{ selected.firstName }} {{ selected.lastName }} </span>
            </div>
          </div>
        </div>

        <div class="full-name-edit" *ngIf="editMode">
          <div class="full-name-edit-name">
            <input type="text" formControlName="firstName">
            <label for="">first name</label>
          </div>
          <div class="full-name-edit-name">
            <input type="text" formControlName="lastName">
            <label for="">last name</label>
          </div>
        </div>

        <div class="record">
          <div class="record-control">
            <div class="record-control-label border">
              phone
            </div>
            <div class="record-control-input">
              <input type="text" formControlName="phone" [readonly]="!editMode">
            </div>            
          </div>

          <div class="record-control">
            <div class="record-control-label">
              email
            </div>
            <div class="record-control-input">
              <input type="text" formControlName="email" [readonly]="!editMode">
            </div>
          </div>

          <div class="record-control">
            <div class="record-control-label">
              address
            </div>
            <div class="record-control-input">
              <textarea
                class="address"
                formControlName="address"
                id=""
                cols="30"
                rows="10"
                [readonly]="!editMode">
              </textarea>
            </div>
          </div>

          <div class="record-control">
            <div class="record-control-label borderless">
              notes
            </div>
            <div class="record-control-input borderless">
              <textarea
                class="notes"
                formControlName="notes"
                id=""
                cols="30"
                rows="10"
                [readonly]="!editMode">
              </textarea>
            </div>
          </div>

        </div>
      </form>

      <div class="buttons-box">
        <div class="buttons-box-item">
          <button *ngIf="!isNew" (click)="new()">+</button>
        </div>
        <div class="buttons-box-item">
          <button *ngIf="!editMode && loaded" (click)="edit()">
            <span>Edit</span>
          </button>
          <button *ngIf="editMode" (click)="save()">
            <span>Done</span>
          </button>
        </div>
      </div>
    </section>
  </div>
</div>