<div class="container">
  <h1>Apple Contacts</h1>
  <div class="flex-grid">
    <aside class="col sidebar">
      <div *ngFor="let group of groupedContacts">
        <div class="abc-container">
          <span class="abc-item">{{ group.firstLetter }}</span>
        </div>
        <div *ngFor="let contact of group.contacts" class="name"> {{ contact.firstName }} {{ contact.lastName }} </div>
      </div>

    </aside>



    <section class="col main">
      <!-- <div class="display-name">Arthur Rubinstein</div>
      <div>
        <input type="text">
      </div>
      <div>
        <label>last name</label>
      </div> -->

      <div class="grid-row">
        <div class="grid-col">1</div>
        <div class="grid-col">2</div>
        <div class="grid-col">3</div>
        <div class="grid-col">4</div>
        <div class="grid-col">5</div>
        <div class="grid-col">6</div>
      </div>      
    </section>
  </div>
</div>