<div class="container">
  <h1>Apple Contacts</h1>
  <div class="flex-grid">
    <aside *ngIf="loaded" class="col sidebar">
      <div *ngFor="let group of groupedContacts">
        <div class="abc-container">
          <span class="abc-item">{{ group.firstLetter }}</span>
        </div>
        <hr>
        <div
          *ngFor="let contact of group.contacts"
          [ngClass]="{
            'name' : true,
            'selected' : contact.id === selected.id
          }"
          (click)="select(contact)">
          {{ contact.firstName }} {{ contact.lastName }}
          <button *ngIf="contact.id === selected.id" (click)="delete()">-</button>
        </div>
      </div>
    </aside>

    <section class="col main">
      <div *ngIf="!editMode && loaded">
        <div class="grid-row">
          <div class="grid-col-name">
            <span>{{ selected.firstName }} </span>
          </div>
          <div class="grid-col-name">
            <span>{{ selected.lastName }} </span>
          </div>
          <div class="grid-col-name">
            <label for="">first name</label>
          </div>
          <div class="grid-col-name">
            <label for="">last name</label>
          </div>
        </div>
  
        <div class="grid-row">
          <div class="grid-col-label">
            phone
          </div>
          <div class="grid-col-input">
            <span>{{ selected.phone }} </span>
          </div>
          <div class="grid-col-label">
            email
          </div>
          <div class="grid-col-input">
            <span>{{ selected.email }} </span>
          </div>
          <div class="grid-col-label">
            address
          </div>
          <div class="grid-col-input">
            <span>{{ selected.address }} </span>
          </div>
          <div class="grid-col-label">
            notes
          </div>
          <div class="grid-col-input">
            <span>{{ selected.notes }} </span>
          </div>
        </div>

      </div>

      <form novalidate *ngIf="editMode && loaded" [formGroup]="form" (submit)="save()">

        <div class="grid-row">
          <div class="grid-col-name">
            <input type="text" formControlName="firstName">
          </div>
          <div class="grid-col-name">
            <input type="text" formControlName="lastName">
          </div>
          <div class="grid-col-name">
            <label for="">first name</label>
          </div>
          <div class="grid-col-name">
            <label for="">last name</label>
          </div>
        </div>

        <div class="grid-row">
          <div class="grid-col-label">
            phone
          </div>
          <div class="grid-col-input">
            <input type="text" formControlName="phone">
          </div>
          <div class="grid-col-label">
            email
          </div>
          <div class="grid-col-input">
            <input type="text" formControlName="email">
          </div>
          <div class="grid-col-label">
            address
          </div>
          <div class="grid-col-input">
            <textarea formControlName="address" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="grid-col-label">
            notes
          </div>
          <div class="grid-col-input">
            <textarea formControlName="notes" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
      </form>

      <div class="buttons-container">
        <div class="buttons-item">
          <button (click)="new()">+</button>
        </div>
        <div class="buttons-item">
          <button *ngIf="!editMode && loaded" (click)="edit()">Edit</button>
          <button *ngIf="editMode" (click)="save()">Done</button>
        </div>
      </div>
    </section>
  </div>
</div>